$red-color: red;

.openingScript {
    color: $red-color;
    padding: 20px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
    background-color: #fff;
    border-radius: 6px;
}